{
  "parser": "babel-eslint",
  "extends": "airbnb-base",
  "rules": {
    "no-return-await": "off",
    "class-methods-use-this": "off",
    "no-underscore-dangle": "off",
    "semi": ["error", "never"],
    "no-undef": "off",
    "no-new": "off",
    "no-shadow": "off",
    "comma-dangle": "off",
    "arrow-body-style": "off"
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "modules": true
    }
  }
}
